@font-face {
    font-family: "Alata";
    src: url("../font/regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Alata", sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
}

path {
    vector-effect: non-scaling-stroke;
}

body ::-webkit-scrollbar {
    width: 4px;
    transition: all 0.25s;
}

body ::-webkit-scrollbar-track {
    background: #e5e5e5;
    @apply rounded;
}

body.dark ::-webkit-scrollbar-track {
    background: #52525220;
    @apply rounded;
}

body ::-webkit-scrollbar-thumb {
    background: #bbbbbb;
    @apply rounded;
}

body.dark ::-webkit-scrollbar-thumb {
    background: #686868;
    @apply rounded;
}

body ::-webkit-scrollbar-thumb:hover {
    background: #888888;
}

body.dark ::-webkit-scrollbar-thumb:hover {
    background: #7b7b7b;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

img {
    width: auto;
}

.sidebar-left__content {
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;
}

.scroll-y-overlay {
    overflow-y: overlay;
    transition: background-color 0.25s ease;
}

.icon-vector-5,
.icon-vector-5-86f4346e {
    left: 85%;
    top: 71.9%;
}

.icon-vector-2,
.icon-vector-2-4e57d41e {
    left: 80.9%;
    top: 34.4%;
}

.icon-vector-4,
.icon-vector-4-21416aa3 {
    left: 18.4%;
    top: 50.6%;
}

.icon-vector-3,
.icon-vector-3-8caf41ab {
    left: 49.4%;
    top: 15.4%;
}

.icon-vector-1,
.icon-vector-1-88d6e944 {
    left: 7.4%;
    top: 77.1%;
}

.icon-flat-color-icons_faq,
.icon-flat-color-icons_faq-1087b531 {
    left: 5%;
    top: 38.6%;
}

.icon-flat-color-icons_template,
.icon-flat-color-icons_template-0f4a2053 {
    left: 11.7%;
    top: 62.8%;
}

.icon-flat-color-icons_support,
.icon-flat-color-icons_support-623be6e2 {
    left: 78.4%;
    top: 42.2%;
}

.icon-polygon-2,
.icon-polygon-2-bfa9b6bb {
    left: 19.9%;
    top: 14.1%;
}

.icon-flat-color-icons_settings,
.icon-flat-color-icons_settings-73bdcb9a {
    left: 18.1%;
    top: 34%;
}

.icon-flat-color-icons_comments,
.icon-flat-color-icons_comments-08742395 {
    left: 79.8%;
    top: 7.9%;
}

.icon-flat-color-icons_doughnut-chart,
.icon-flat-color-icons_doughnut-chart-4c0ff7d0 {
    left: 11.3%;
    top: 12%;
}

.icon-flat-color-icons_approval,
.icon-flat-color-icons_approval-075dd869 {
    left: 31.9%;
    top: 10.7%;
}

.icon-ellipse-2,
.icon-ellipse-2-051391ec {
    left: 50%;
    top: 85.5%;
}

.icon-ellipse-3,
.icon-ellipse-3-c1ed4444 {
    left: 63.1%;
    top: 13.6%;
}

.icon-ellipse-1,
.icon-ellipse-1-f1dc5fc7 {
    left: 28.3%;
    top: 87.9%;
}

.icon-flat-color-icons_opened-folder,
.icon-flat-color-icons_opened-folder-e6def3ed {
    left: 80.4%;
    top: 84.5%;
}

.icon-flat-color-icons_voice-presentation,
.icon-flat-color-icons_voice-presentation-d55e5e98 {
    left: 80%;
    top: 57.1%;
}
